@model List<MiMetaBG.WebApp.Models.ProductoGral>
@{
    ViewBag.Title = "SegConsProductos";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="heading1">Producto Cruzar</h1>
                <p class="subheading">Consulta general de productos cruzar</p>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td width="100"><h5 class="card-title">Acciones</h5></td>     <!--col01-->
                        <td><h5 class="card-title">Código Producto</h5></td>          <!--col02-->
                        <td width="100"><h5 class="card-title">Descripción</h5></td>  <!--col03-->
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var Seg in Model)
                        {
                            <tr>
                                <td>
                                    <input type="button" id="seleccion" name="seleccion" value="Seleccionar" onclick="SalvarDatosProd('@Seg.idproducto')" />
                                </td>
                                <td>@Seg.idproducto</td>
                                <td>@Seg.descripcionproducto</td>
                            </tr>
                        }
                    }
                </table>

            </div>
        </div>
    </div>
</main>


