
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="U5Vy8w0V38jwTqtsxlWA2jwj2y6vu0viPa4cPxlptok" />

    <title>Crea una meta - Banco Guayaquil</title>
    <meta name="description" content="Una plataforma para tener el control de tus metas sin necesidad de acercarte al banco.">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta property="og:image" content="https://apps.bancoguayaquil.com/Metas/img/bg_Principal.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Crea una meta - Banco Guayaquil">
    <meta property="og:description" content="Una plataforma para tener el control de tus metas sin necesidad de acercarte al banco.">
    <meta property="og:url" content="https://apps.bancoguayaquil.com/Metas/">
    <meta property="fb:app_id" content="511048116022563">

    <meta property="twitter:title" content="Crea una meta - Banco Guayaquil">
    <meta property="twitter:image" content="https://apps.bancoguayaquil.com/Metas/img/bg_Principal.png">
    <meta property="twitter:description" content="Una plataforma para tener el control de tus metas sin necesidad de acercarte al banco.">

    <!-- Styles-->
    <link rel="shortlink icon" href="~/favicon.ico"/>
    <link rel="stylesheet" href="~/Content/css/mainl.css">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({ç
    'gtm.start':
    new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T8ZZJD9');</script>
    <!-- End Google Tag Manager -->


    
</head>

    <body">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8ZZJD9"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    

    <header class="landing-2">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-6 col-md-4"><a href="#"><img class="img-fluid" src="~/img/landing/banco-guayaquil-logo.svg" alt="Banco de Guayaquil"></a></div>
          <div class="col-6 col-md-8 d-flex justify-content-end"><a class="btn btn-outline-light blue mr-0 mr-sm-3" href="~/Metas/ConsultaSuenio">Ver mis metas</a><a class="btn btn-light blue d-none d-sm-inline-block" href="~/Definir/consultaSegmentos">Crear una meta</a></div>
        </div>
      </div>
    </header>
    <main class="m-0 p-0">
      <section class="section-one bg-video">
        <video class="video" autoplay="" loop=""  muted="">
          <source src="~/img/landing/video2.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="container d-flex">
          <div class="row align-items-start">
            <div class="mb-3 mb-md-0 info-wrapper lp2">
              <h1 class="heading-landing normal">Empieza a ahorrar para alcanzar tus metas</h1>
              <p class="subheading-landing">Una plataforma para tener el control de tus metas sin necesidad de acercarte al banco.</p><a class="btn btn-secondary arrow" href="~/Definir/consultaSegmentos">Crear una meta</a>
            </div>
            <div class="img-one"><img class="img-fluid" src="~/img/landing/cellphone-1.png" alt=""></div>
          </div>
        </div>
      </section>
      <section class="section-two bg-white">
        <div class="skew-bg"></div>
        <div class="container p-relative">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <h2 class="sec-title c-blue fw-normal">Con tu ahorro, lo mejor está por venir.</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center text-md-left mb-5 mb-md-0"><img class="mb-3" src="~/img/landing/ahorro-1.png" width="111" alt="">
              <h3 class="fs-18 c-black">Elije tus metas</h3>
              <p class="fs-18 c-black">Irte de viaje, comprarte un carro, tener casa propia.</p>
            </div>
            <div class="col-md-4 text-center text-md-left mb-5 mb-md-0"><img class="mb-3" src="~/img/landing/ahorro-2.png" width="48" alt="">
              <h3 class="fs-18 c-black">Mantén el control</h3>
              <p class="fs-18 c-black">Puedes cambiar el monto mensual y retirar el dinero cuando necesites.</p>
            </div>
            <div class="col-md-4 text-center text-md-left"><img class="mb-3" src="~/img/landing/ahorro-3.png" width="50" alt="">
              <h3 class="fs-18 c-black">Sin costo adicional</h3>
              <p class="fs-18 c-black">Servicio completamente gratuito para tu Cuenta de Ahorro.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-two bg-white">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <h2 class="sec-title c-blue fw-normal">¿Cómo empezar?</h2>
            </div>
          </div>
        </div>
        <div class="container-fluid px-0">
          <div class="row no-gutters">
            <div class="col pb-5 text-center">
              <div class="carousel carousel-steps slide" id="carouselSteps" data-ride="carousel">
                <ol class="carousel-indicators steps">
                  <li class="active" data-target="#carouselSteps" data-slide-to="0"></li>
                  <li data-target="#carouselSteps" data-slide-to="1"></li>
                  <li data-target="#carouselSteps" data-slide-to="2"></li>
                  <li data-target="#carouselSteps" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carousel-steps-img"><img class="img-fluid" src="~/img/landing/carousel-pasos-1.jpg" width="289" alt=""><img class="deco" src="~/img/landing/carousel-pasos-deco.png" alt=""></div>
                    <div class="container caption">
                      <div class="row justify-content-center">
                        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                          <h3 class="fs-18 c-black fw-normal">1. Selecciona la meta que deseas cumplir</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-steps-img"><img class="img-fluid" src="~/img/landing/carousel-pasos-2.jpg" width="289" alt=""><img class="deco" src="~/img/landing/carousel-pasos-deco.png" alt=""></div>
                    <div class="container caption">
                      <div class="row justify-content-center">
                        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                          <h3 class="fs-18 c-black fw-normal">2. Define el monto y el plazo de tu ahorro</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-steps-img"><img class="img-fluid" src="~/img/landing/carousel-pasos-3.jpg" width="289" alt=""><img class="deco" src="~/img/landing/carousel-pasos-deco.png" alt=""></div>
                    <div class="container caption ">
                      <div class="row justify-content-center">
                        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                          <h3 class="fs-18 c-black fw-normal">3. Elije  tu cuenta de ahorros Banco Guayaquil</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-steps-img"><img class="img-fluid" src="~/img/landing/carousel-pasos-4.jpg" width="289" alt=""><img class="deco" src="~/img/landing/carousel-pasos-deco.png" alt=""></div>
                    <div class="container caption">
                      <div class="row justify-content-center">
                        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                          <h3 class="fs-18 c-black fw-normal">4. Consulta el progreso de tus metas </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><a class="carousel-control-prev" href="#carouselSteps" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselSteps" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center z-index-20">
              <h2 class="sec-title c-white fw-normal mb-4 mb-sm-5">¿Listo para alcanzar tus metas?</h2><a class="btn btn-secondary arrow" href="~/Definir/consultaSegmentos">Crear una meta</a>
            </div>
          </div>
        </div>
      </section>
      <section class="section-light-gray faq">
        <div class="container p-relative">
          <div class="row">
            <div class="col-12 mb-4 mb-md-5">
              <h2 class="sec-title c-blue fw-normal">Preguntas frecuentes</h2>
            </div>
          </div>
          <div class="row flex-md-row-reverse">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <p class="question">¿Este servicio tiene costo?</p>
              <p class="answer">No tiene ningún costo.</p>
              <p class="question">¿Dónde se acumula mi ahorro?</p>
              <p class="answer">El ahorro de tus metas permanece en tu cuenta como un monto reservado, lo puedes visualizar en la Banca Virtual como “Saldo Meta”.</p>
              <p class="question">¿Puedo modificar mi meta?</p>
              <p class="answer">Sí, puedes cambiar el monto mensual y plazo cuando lo necesites.</p>
              <p class="question">¿Puedo cancelar mi meta en cualquier momento?</p>
              <p class="answer">Sí, al cancelar tu meta el monto ahorrado estará disponible para ser usado el siguiente día laborable.</p>
              <p class="question">¿Puedo añadir fondos extra a mi meta?</p>
              <p class="answer">Sí, puedes transferir fondos desde tus Cuentas Banco Guayaquil.</p>
              <p class="question">¿Puedo tener más de una meta?</p>
              <p class="answer">Sí.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer-->
    <footer class="blue">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-6 col-md-4 text-center text-md-left mb-3 mb-md-0"><a class="logo" href="#"><img class="img-fluid" src="~/img/landing/banco-guayaquil-logo.svg" alt="Banco de Guayaquil"></a></div>
          <div class="col-12 col-md-8 text-center text-md-right">
            <p class="mb-0">Derechos Reservados ® 2019 - Banco Guayaquil</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts-->
    <script src="~/Scripts/jslanding/vendor/jquery-3.3.1.min.js?ver=@DateTime.Now"></script>
    <script src="~/Scripts/jslanding/vendor/popper.min.js?ver=@DateTime.Now"></script>
    <script src="~/Scripts/jslanding/vendor/bootstrap.min.js?ver=@DateTime.Now"></script>
    <script src="~/Scripts/jslanding/main.js?ver=@DateTime.Now"></script>

        
  </body>
</html>

