<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WS_MiMetaBG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Conexion a Base de Datos -->
    <add name="ConexionMiMetaBG" connectionString="Data Source=172.26.60.132;Initial Catalog=BG_WEBSITES;User Id=inunez;Password=Bg123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Canal" value="0001" />
    <add key="Meta" value="AHMETA" />
    <add key="Tipo" value="VA" />
    <add key="WsServicioParametros" value="http://172.26.60.210:8030/parametro/v1/parametro" />
   
    <add key="log" value="true" />
    <add key="ConfiguracionRegional" value="es-ES" />
    <add key="Timeout" value="-1" />

    <add key="WsServicioCuentas" value="http://172.26.60.210:8040/cuenta/v1/cuentas" />
    <add key="WsServicioCliente" value="http://172.26.60.210:8010/cliente/v1/informacion" />
    <add key="WsServicioMetasCreadas" value="http://172.26.60.210:8040/cuenta/v1/ahorros-meta" />
    
    
    <add key="Aplicacion" value="VIVE TU SUENIO" />
    <add key="Servicio" value="LOGIN" />
    <add key="iv" value="fAusonMnxa/0kBX1CZgUDw==" />
    <add key="key" value="Xk+p77wSFIDNkooYk2qGhe7zIb3iRxNo5eYw++kHlcI=" />
    
    
    <!--Aviso BG-->
    <add key="codigoAviso" value="125" />
    <add key="categoriaAviso" value="GENERAL" />
    <add key="canalAviso" value="02" />
    <add key="construirMail" value="SI" />
    <add key="construirSSM" value="NO" />
    <add key="ProcesoErrorDesconocido" value="300" />


    <!-- Token -->
    <add key="JWT_SECRET_KEY" value="kjlkajdklsjdakljsdtkdjlasjlaksjdas" />
    <add key="JWT_EXPIRE" value="15" />
    <add key="owin:AutomaticAppStartup" value="false" />

    
    <!--cash-->
    <add key="CodTransaccion" value="1100" />
    <add key="CodAplicacion" value="SCAM" />
    <add key="CodigoCanal" value="01" />


    <add key="Transaccion" value="0008"/>
    <add key="Proceso" value="D"/>
    <add key="Cod_Banco_Beneficiario" value="17"/>
    <add key="Cod_Empresa" value="7C"/>
    <add key="Tipo_transaccion" value="T"/>
    <add key="TipoEmpresa" value="N"/>
    <add key="Opid" value="WEB"/>

    <add key="TipoCobro" value="M"/>
    <add key="CodAplicacionCash" value="CC"/>
    <add key="CanalCash" value="01"/>
    <add key="Motivo_comision" value="7C"/>
    <add key="Terminal" value="01H1"/>
    <add key="ProcesoCash" value="N"/>
    <add key="CodServicio" value="TR"/>
    <add key="IdProceso" value="TR" />
    
    
    
    
    <!--Contratos Envío Mail-->
    <add key="contratoMailFrom" value="tusmetas@bancoguayaquil.com"/>
    <add key="contratoMailCopy" value=""/>
    <add key="contratoMailSubject" value="TU META CON BG"/>
    <add key="contratoMailMessage" value=""/>
    <add key="contratoMailFileName" value="convenio_ahorro_meta_bg.pdf"/>
    <add key="contratoMailPathFile" value="~/Documentos/"/>
    <add key="contratoMailUrlWS" value="http://172.26.60.56/BG.CashBVBG.WS/WebServiceMSG.asmx"/>

    <add key="cantidadMostrada" value="2"/>
    
  </appSettings>
  
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <applicationSettings>
    <WS_MiMetaBG.Properties.Settings>
      <setting name="WS_MiMetaBG_WsEntrust_BG_FuncionesExt" serializeAs="String">
        <value>http://172.26.60.56:8088/EntrustInterfaceWS/FuncionesExt.asmx</value>
      </setting>
      <setting name="WS_MiMetaBG_WsPersona_BG_Personas" serializeAs="String">
        <value>http://172.26.60.71:88/BG.Neo.Ws.Persona/Personas.asmx</value>
      </setting>
      <setting name="WS_MiMetaBG_WsAvisoSeguro_BG_NotificacionesService"
        serializeAs="String">
        <value>http://172.26.60.165:88/BG.AvisoSeguro.Notificaciones.WS/NotificacionesService.asmx</value>
      </setting>
      <setting name="WS_MiMetaBG_WsCashBV_BG_WebServiceBG" serializeAs="String">
        <value>http://172.26.60.56/BG.CashBVBG.WS/WebServiceBG.asmx</value>
      </setting>
      <setting name="WS_MiMetaBG_WsCashBVBGMail_BG_WebServiceMSG" serializeAs="String">
        <value>http://172.26.60.56/BG.CashBVBG.WS/WebServiceMSG.asmx</value>
      </setting>
    </WS_MiMetaBG.Properties.Settings>
  </applicationSettings>
  <runtime>w
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>