@{
    ViewBag.Title = "PageError";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banco Guayaquil Ahorros</title>
    <meta name="description" content="Banco Guayaquil Ahorros">
    <!-- Styles-->
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex justify-content-start align-items-center"><a class="back-arrow" href="javascript:history.back(-1);"><span class="icon-back-arrow"></span></a></div>
                <div class="col-6 d-flex justify-content-center align-items-center p-0"><a class="logo" href="#"><span class="icon-banco-guayaquil-logo"></span></a></div>
                <div class="col-3"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            
            <div class="row">
                <div class="col-12 row justify-content-center" >
                    <p></p>
                    <div class="modal-icon icon-success"></div>
                </div>

                <div class="col-12 text-center">
                    <p></p>
                    <p class="subheading">¡Ahora es tiempo de empezar tu sueño!</p>

                </div>
            </div>

            <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 mt-0 mt-md-3 mt-lg-4 px-sm-3 px-4">
                <a class="btn btn-primary d-block" href="~/Definir/consultaSegmentos">+ Empieza aquí</a>
            </div>
        </div>
        </div>
    </main>
    <!-- Scripts-->
    <script src="~/Scripts/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/vendor/popper.min.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>