
@{
    ViewBag.Title = "PageError";
}


    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 text-center mt-5 mb-5"><img class="img-fluid" src="~/img/error-sistema.svg" alt="Error sistema"></div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="heading1">¡Lo sentimos!</h1>
                    <p class="subheading">Acaba de ocurrir un error, por favor intente en unos minutos.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4 d-flex justify-content-around text-center mb-5"><a class="link" href="~/Home/Index">Volver al inicio</a></div>
            </div>
        </div>
    </main>
   