@{
    ViewBag.Title = "PageError";
}

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="modal-icon icon-danger"></div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="heading1">¡Lo sentimos!</h1>
                    <p></p>
                    <p class="subheading">Le informamos que su sesión a caducado, por favor vuelva a iniciar Sesión.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4 mt-0 mt-md-3 mt-lg-4 px-sm-3 px-4">
                    <a class="btn btn-primary d-block" href="~/Error/LimpiarSesion"> Vuelve a Iniciar Sesion </a>
                </div>
            </div>
        </div>
    </main>
