
@{
    ViewBag.Title = "PrivatePageError";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banco Guayaquil Ahorros</title>
    <meta name="description" content="Banco Guayaquil Ahorros">
    <!-- Styles-->
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex justify-content-start align-items-center"><a class="back-arrow" href="javascript:history.back(-1);"><span class="icon-back-arrow"></span></a></div>
                <div class="col-6 d-flex justify-content-center align-items-center p-0"><a class="logo" href="#"><span class="icon-banco-guayaquil-logo"></span></a></div>
                <div class="col-3"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 text-center mt-5 mb-5"><img class="img-fluid" src="~/img/error-sistema.svg" alt="Error sistema"></div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="heading1">¡Lo sentimos!</h1>
                    <p class="subheading">Acaba de ocurrir un error.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4 d-flex justify-content-around text-center mb-5"><a class="link" href="~/Private/Index">Volver al inicio</a></div>
            </div>
        </div>
    </main>
    <!-- Scripts-->
    <script src="~/Scripts/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/vendor/popper.min.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>